@import url(https://fonts.googleapis.com/css2?family=Oxygen&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  background: #fff;
}
.navbar {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-family: Rubik, sans-serif;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.navbar-elements ul {
  margin: 0;
  padding: 0;
  display: flex;
  color: #000 !important;
}
.navbar-elements li {
  list-style: none;
  display: inline !important;
}
.navbar-elements a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
  display: block;
  font-size: 1.2rem;
  transition: 0.5s;
  border: #fff !important;
}
.navbar-elements a:hover {
  color: #2d3142;
  border-bottom: 1px #000 solid !important;
}
.hbm {
  display: none;
}
.body__about {
  display: flex;
  height: 100vh;
}
.img img {
  width: 80%;
  align-content: space-around;
  border-radius: 8%;
}
.img {
  margin-top: 22vh;
  width: 200rem;
  flex-grow: 2;
  margin-left: 2vh;
}
.text {
  margin-top: 15vh;
  font-size: x-large;
}
.icons {
  display: flex;
  padding: 10px;
}
.icons a {
  padding-left: 10px;
  font-size: medium;
  color: #000;
}
.more {
  margin-left: 40vh;
}
.icons i {
  transition: 0.3s;
}
.icons i:hover {
  color: #000;
  border-bottom: 1px solid #000;
  padding: 5px;
}
.text h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.text p {
  font-family: Oxygen, sans-serif;
  margin-right: 10px;
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .body__about {
    display: flex;
    flex-direction: column;
  }
  .more {
    margin-left: 8vh;
  }
  .img img {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 8%;
  }
  .img p {
    text-align: center;
  }
  .img {
    width: 50%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  .text {
    margin: 2vh;
    margin-left: 20px;
    margin-top: 0 !important;
    font-size: x-large;
  }
  .icons {
    padding: 10px;
  }
  .icons a {
    padding: 10px;
    font-size: medium;
    color: #000;
  }
}
