
* {box-sizing:border-box;
   margin: 0; padding: 0;}


body {
    font-family: 'Source Code Pro', monospace;
    background: #42275a; /* fallback for old browsers */
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2041;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.website-logo {
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Pacifico', cursive;
}

.website-logo:hover{
    font-size: 2rem;
}
.navbar-elements ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-elements li {
    list-style: none;
}
.navbar-elements a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-elements li:hover{
    font-size: 1.2rem;
}
.hamburger-menu {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:21px;
}
.hamburger-menu .bar {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.read-more-button {
    display: none;
}

@media (max-width: 600px) {
    .hamburger-menu{
        display: flex;
    }
    .navbar-elements{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-elements ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-elements li {
        text-align: center;
        font-size: 1.2rem;
    }
    .navbar-elements li:hover {
        font-size: 1.5rem;
    }
    .navbar-elements li a {
        padding: .5rem 1rem;
    }
    .navbar-elements.active{
        display: flex;
    }
    .read-more-button {
        display: block;
    }
    .whoiam a {
        text-decoration: none;
        text-align: center;
        color: #011627;
    }
    .whoiam a:hover {
        font-size: 2rem;
    }
    .read-more {
        display: none;
    }
    .read-more:target {
        display: block;
    }

}    
section div  {
    padding:1px;
}
body::-webkit-scrollbar       {background-color:#CCE6F4;width:16px}
body::-webkit-scrollbar-track {background-color:#CCE6F4}
body::-webkit-scrollbar-thumb {background-color:#A0A5A6;border-radius:16px;border:4px solid #CCE6F4}

ul {display: inline;} 
ul li { list-style: none;display: inline;}


.home {
    background:#EFDCF9;
    /*#a178c7 #ffc0cb 120°*/

    background-position: top;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    }
.scroll--banner{
    padding: 20px;
    text-align: center;
}
.scroll--banner:hover {
    font-size: 1.5em;
}
.banner h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    padding: 0px;
    padding-bottom: 10px;
    font-family: 'Caveat', cursive;
    white-space: nowrap;
    opacity: 1;
}
.section__subtitle {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Caveat', cursive;
    opacity: 1;
    line-height: 50px;
}
.section__subtitle--scroll{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
    padding-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}

.hr-banner {
    border: 1px double #457EAC;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}
.whoiam
{ 
    background-image: linear-gradient(147deg, #e5eaf5 0%, #d0bdf4 100%);

    margin: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
    background-position: center;
    max-width: 100%;
    background-repeat: no-repeat;
    
}   

.whoiam__content{
    font-size: x-large;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    column-count: auto;
    width: auto;
    column-gap: 40px;
    column-rule: 1px solid #011627;
    text-align: justify;
    padding: 20px;

}

.skills{
    /*background-color: #FFDEE9;
    background-image: linear-gradient(245deg, #FFDEE9 0%, #B5FFFC 100%);
    text-align: left;*/
    background-image: linear-gradient(147deg, #e5eaf5 0%, #d0bdf4 100%);
    padding:20px !important;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px !important;
    font-family: 'Rubik', sans-serif;
}

.math{
    width: 90%;
    background-color: #0A2472;
    border-radius: 10px;
}

.humor{
    width: 95%;
    background-color: #0A2472;
    border-radius: 10px;
}


.skill__elements {

    color: white; 
    text-align: right;
    font-size: large;
    padding: 10px;
}

.skill__bar--subs {
    font-size: x-large;
    font-weight: 700;
    line-height: 200%;
    bottom: 5em;;
    font-family: 'Caveat', cursive;
}

.physics {
    width: 85%;
    background-color: #0A2472;
    border-radius: 10px;
}

.coding{
    width: 85%;
    background-color: #0A2472;
    border-radius: 10px;
}

.chemistry{
    width: 75%;
    background-color: #0A2472;
    border-radius: 10px;
}

footer {
    background-color: #1F2041;
    color: white;
}


.contacts ul{
    display: inline;
    list-style-type: none;

}

.contacts {
     padding: 20px;
     text-align: center;
}

.social__list__link{
    padding: 10px;
}


.social__list--item:hover{
    padding: 15px;
}

.social__list--item:hover  i {
    transform: scale(1.5);
}

.social__list {
    font-family: 'Rubik', sans-serif;
}
.banner__img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.footer-text {
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
